<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-lazy-init="true">

	<description>activiti流程引擎 </description>
	<!-- 配置事务 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- activiti流程引擎 -->
   <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
   		<!-- 数据库连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 事务 -->
		<property name="transactionManager" ref="txManager"/>
		<!-- 数据库自动升级 -->
		<property name="databaseSchemaUpdate" value="true" />
		<!-- 不创建identity表 -->
		<property name="dbIdentityUsed" value="false"/>
		<!-- 作业执行器 -->
		<property name="jobExecutorActivate" value="false" />
		<!-- 历史级别 -->
		<property name="history" value="audit" />
	    <property name="activityFontName" value="宋体"/>
		<property name="labelFontName" value="宋体"/>
		<!-- 配置自定义用户 -->  
	    <property name="customSessionFactories">   
	        <list>   
	             <bean class="com.cloudoa.framework.flow.ext.CustomGroupManagerFactory" >  
	                <property name="groupEntityManager">  
	                    <bean class="com.cloudoa.framework.flow.ext.CustomGroupManager"></bean>  
	                </property>  
	             </bean>  
	             <bean class="com.cloudoa.framework.flow.ext.CustomUserManagerFactory" >  
	                <property  name="userEntityManager">  
	                    <bean id="userEntityManager" class="com.cloudoa.framework.flow.ext.CustomUserManager"></bean>  
	                </property>  
	             </bean>  
	        </list>  
	    </property>  
   </bean>

   <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
    <property name="processEngineConfiguration" ref="processEngineConfiguration" />
   </bean>

   <bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />
   <bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService" />
   <bean id="taskService" factory-bean="processEngine" factory-method="getTaskService" />
   <bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService" />
   <bean id="managementService" factory-bean="processEngine" factory-method="getManagementService" />
</beans>